.cards{
    padding-top: 10px;
}

.card-list{
    width: 85vw;
    margin: 0 auto;
    padding: 50px 100px 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.pagination-top, .pagination-bot{
    display: flex;
    justify-content: center;
}
.pagination-bot{
    padding-bottom: 40px;
}

.pagination-top button, .pagination-bot button{
    padding: 4px;
    min-width: 100px;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    margin: 0 2px;
}

.pagination-bot button:hover , .pagination-top button:hover{
    background-color: rgba(255, 205, 255, 0.1);
}

button.active {
    background-color: #a10000;
    color: white;
}
