.cards{
    padding-top: 10px;
}

.card-list{
    width: 85vw;
    margin: 0 auto;
    padding: 50px 100px 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.pagination-top, .pagination-bot{
    display: flex;
    justify-content: center;
}

button.active {
    background-color: #007BFF;
    color: white;
}

.pagination-top button, .pagination-bot button{
    padding: 4px;
    min-width: 100px;
}