.home {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #242424;    
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 20px 100px;
    z-index: 99;
    background-color: rgba(64, 114, 189, 0.07);
    min-height: 100px;
    border-bottom: 2px solid rgb(252, 204, 204);
}
.header input{
    padding: 10px;
    border-radius: 10px;
    min-width: 230px;
    background-color: #242424;
    color: rgb(255, 255, 255);
    transition: transform 0.1s ease;
}
header input:active{
    transform: scaleX(1.05);
}

header button {
    padding: 20px;
    width: 50;
    border-radius: 10px;
    background-color: #242424;
    color: white;
    cursor: pointer;
    font: 1em sans-serif;
    transition: transform 0.3s ease;
}
.header input:hover{
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.1);
}

header button:hover{
    background-color: #000000;
    color: #ff0000;
    transform: scale(1.1);
}
.header.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out
}

.filter select {
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    min-width: 230px;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.filter select:hover{
    background-color: #191919;
    transform: scale(1.1);
}

.filter button {
    width: 50px;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    background-color: #333333;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.filter-button {
    padding-top: 180px;
    display: flex;
    justify-self: start;
    align-items: center;
    padding-left: 90%;
}

.filter-button button {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;    
    background-color: #333333;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.filter-button button:hover, .filter button:hover{
    background-color: #000000;
    color: #ff0000;    
    transform: scale(1.1);
}

.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 300px;
    height: 500px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 200px;
    margin-left: 83%;
    border-radius: 50px;
    transition: transform 0.1s ease;
}
.modal:hover {
    transform: scale(1.05);
}

.modal-content {
    background-color: transparent;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 500px;
    border-radius: 50px;
}

.filter {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 100px 0px 100px;
}